body {
    background-color: #68b333;
    height: 100%;

    
  }

  .wrap {
    height: 100%;
    width: 75%;
    background-color: white;
    margin: 0 auto;
    border: 3px solid black;
    padding: 10px;
    min-width: 500px;
    
    
  }
  #header {
    width: 100%;
    text-align: center;
  }

  #mid {
    display: flex;
    min-height: 60px;
  }

  .container1 {

    flex:1;
    order:1;
    text-align: center;
    background-color: #b4ecb4;
    background-image: url("/assets/img/fuel+.png");
    background-repeat: no-repeat;
    background-size:100% auto;
    background-position: 15px 170px;
    width: 50px;
    margin: 5px;
    overflow: hidden;
    
  }

  .container2 {
    flex:1;
    order: 3;
    text-align: center;
    background-color: #b4ecb4;
    background-image: url("/assets/img/fuel+.png");
    background-repeat: no-repeat;
    background-size:100% auto;
    background-position: 15px 170px;
    margin: 5px;
    padding:2px;
   
  }

  .container3 {
    text-align: center;
    flex:1;
    order:2;
    margin: 5px;
  }


  img {
    
    max-width: 100%; 
    max-height: 450px; 
  }


#footer {
display: flex;
justify-content: space-between;
margin: 0 100px;
}

#subButton, #edit-btn {
  visibility: hidden;
}

.reading {
  font-size: 15px;
}

.readingDate {
  font-size:7px;
  margin: 2px;
}

.btn-xs {
  padding  : .25rem .4rem;
  font-size  : .875rem;
  line-height  : .5;
  border-radius : .2rem;
}
